/*市场管理-注册页面样式*/
*{margin:0px;padding:0px;}
a{text-decoration:none;}
li{list-style: none;}
.registered{
	width:100%;height:100%;
	position: relative;
}
.registered .registered-hd{
	position: absolute;left:0px;top:0px;
	width:100%;
}
.registered-hd .registered-hd-left{
	width:10%;position: absolute;left:0px;top:0px;padding:7px;
	background:red;text-align: center;
}
.registered-hd .registered-hd-left a{
	color: #C7C7CC;
}
.registered-hd .registered-hd-title{
	width:90%;position: absolute;left:10%;top:0px;padding-right:10px;text-align: center;line-height: 2.4;color:#666;
background:yellow;
}
.account{
	display: flex;align-items: center;
	position:absolute;left:0px;top:50px;
	
}
.account .account-left{
	width:10%;padding:
}
.account .account-content{
	width:90%;
}
.account .account-randow-button{
	width:10%;
}
